<% provide(:title, 'All Users') %>
<% provide(:class_text, 'basic-info') %>
<% provide(:button_text, '更新') %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
      <%= form_tag import_users_path, multipart: true do %>
        <div class="form-group">
          <%= file_field_tag :file %>
        </div>
        <%= submit_tag "CSV入力", class: "btn btn-primary" %>
      <% end %>
      <div class="csv-exp-btn">
      <%= link_to "CSV出力", users_path(format: :csv), class: "btn btn-primary" %>
      </div>
    </div>
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th class="center"><%= User.human_attribute_name :department %></th>
        <% if current_user.admin? %>
          <th class="center"><%= User.human_attribute_name :basic_time %></th>
          <th class="center"><%= User.human_attribute_name :work_time %></th>
          <th class="center"><%= User.human_attribute_name :work_finish_time %></th>
        <% end %>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %><br>
            <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %><br>
            
              <a href="#demo<%= user.id %>" data-toggle="collapse" class="btn btn-primary">基本情報編集</a>
            
            <div id="demo<%= user.id %>" class="collapse">
            <div class="panel-body">
             <%= render 'form',{user:user} %>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
        <td class="center"><%= user.department.present? ? user.department : "未所属" %></td>
        <% if current_user.admin? %>
          <td class="center"><%= format_basic_info(user.basic_time) %></td>
          <td class="center"><%= format_basic_info(user.work_time) %></td>
          <td class="center"><%= format_basic_info(user.work_finish_time) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>