<% provide(:class_text, 'basic-info') %>
<%= form_with(model: @user, url: attendances_update_over_time_user_path(date: @day), local: true, method: :patch) do |f| %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【勤怠変更申請のお知らせ】</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
         <table class="table table-bordered table-condensed" id="table-attendances">
            <thead>
              <h4 class="modal-title">【上長Aからの勤怠変更申請】</h1>
              
              <h4 class="modal-title">【一般からの勤怠変更申請】</h1>
              <tr>
                <th rowspan="3">日付</th>
                <th rowspan="3">曜日</th>
                <th colspan="4">変更前</th>
                <th colspan="4">変更後</th>
                <th rowspan="3">備考</th>
                <th rowspan="3">指示者確認㊞</th>
                <th rowspan="3">変更</th>
                <th rowspan="3">勤怠を確認する</th>
              </tr>
              <tr>
                <th colspan="2">出社</th>
                <th colspan="2">退社</th>
                <th colspan="2">出社</th>
                <th colspan="2">退社</th>
              </tr> 
              <tr>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
                <th>時</th>
                <th>分</th>
              </tr>
            </thead>
            
            <tbody>
              <% @attendances.each do |day| %>
                <%= f.fields_for "attendances[]", day do |attendance| %>
                   <tr>
                    <td class><%= l(day.worked_on, format: :short) %></td>
                    <td>
                      <% if day.worked_on.wday == 1 %>
                        <%= $days_of_the_week[day.worked_on.wday] %>
                      <% end %>
                      <% if day.worked_on.wday == 2 %>
                        <%= $days_of_the_week[day.worked_on.wday] %>
                      <% end %>
                      <% if day.worked_on.wday == 3 %>
                        <%= $days_of_the_week[day.worked_on.wday] %>
                      <% end %>
                      <% if day.worked_on.wday == 4 %>
                        <%= $days_of_the_week[day.worked_on.wday] %>
                      <% end %>
                      <% if day.worked_on.wday == 5 %>
                        <%= $days_of_the_week[day.worked_on.wday] %>
                      <% end %>
                      <% if day.worked_on.wday == 6 %>
                        <font color="blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
                      <% end %>
                      <% if day.worked_on.wday == 0 %>
                        <font color="red"><%= $days_of_the_week[day.worked_on.wday] %></font>
                      <% end %>
                    </td>
                    <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
                    <td><%= l(day.started_at, format: :minit) if day.started_at.present? %></td>
                    <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
                    <td><%= l(day.started_at, format: :minit) if day.started_at.present? %></td>
                    <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
                    <td><%= l(day.started_at, format: :minit) if day.started_at.present? %></td>
                    <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
                    <td><%= l(day.started_at, format: :minit) if day.started_at.present? %></td>
                    <td><%= attendance.text_field :process_contents, class: "form-control" %></td>
                    <td>
                      <%= f.select :decision, Sample.decisions.keys.to_a, { include_blank: "承認選択" } %>
                    </td>
                    <td><%= f.check_box :remember_me, id: "remember-me" %></td>
                    <td><%= link_to "確認", user_path(date: @first_day), class: "btn btn-primary" %></td>
                   </tr>
                 <% end %>
               <% end %>
            </tbody>
         </table>
            <div class="center">
              <%= f.submit "承認結果を送信する", class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>